@charset "utf-8";
/* CSS Document */
.AU{background-image: url(http://img.51msyc.com/images/country/AU.jpg);}
.CA{background-image: url(http://img.51msyc.com/images/country/CA.jpg);}
.DE{background-image: url(http://img.51msyc.com/images/country/DE.jpg);}
.FR{background-image: url(http://img.51msyc.com/images/country/FR.jpg);}
.GB{background-image: url(http://img.51msyc.com/images/country/GB.jpg);}
.IT{background-image: url(http://img.51msyc.com/images/country/IT.jpg);}
.JP{background-image: url(http://img.51msyc.com/images/country/JP.jpg);}
.KP{background-image: url(http://img.51msyc.com/images/country/KP.jpg);}
.MY{background-image: url(http://img.51msyc.com/images/country/MY.jpg);}
.NL{background-image: url(http://img.51msyc.com/images/country/NL.jpg);}
.NZ{background-image: url(http://img.51msyc.com/images/country/NZ.jpg);}
.TH{background-image: url(http://img.51msyc.com/images/country/TH.jpg);}
.TW{background-image: url(http://img.51msyc.com/images/country/TW.jpg);}
.US{background-image: url(http://img.51msyc.com/images/country/US.jpg);}
.IL{background-image: url(http://img.51msyc.com/images/country/IL.jpg);}
.TR{background-image: url(http://img.51msyc.com/images/country/TR.jpg);}
.CH{background-image: url(http://img.51msyc.com/images/country/CH.jpg);}
.DK{background-image: url(http://img.51msyc.com/images/country/DK.jpg);}
.ES{background-image: url(http://img.51msyc.com/images/country/ES.jpg);}
.HU{background-image: url(http://img.51msyc.com/images/country/HU.jpg);}
.CZ{background-image: url(http://img.51msyc.com/images/country/CZ.jpg);}
.MC{background-image: url(http://img.51msyc.com/images/country/MC.jpg);}
.SI{background-image: url(http://img.51msyc.com/images/country/SI.jpg);}
.SE{background-image: url(http://img.51msyc.com/images/country/SE.jpg);}
.AT{background-image: url(http://img.51msyc.com/images/country/AT.jpg);}
.BE{background-image: url(http://img.51msyc.com/images/country/BE.jpg);} 
.CL{background-image: url(http://img.51msyc.com/images/country/CL.jpg);}
.SG{background-image: url(http://img.51msyc.com/images/country/SG.jpg);}
.MX{background-image: url(http://img.51msyc.com/images/country/MX.jpg);}
.PL{background-image: url(http://img.51msyc.com/images/country/PL.jpg);}
.ZA{background-image: url(http://img.51msyc.com/images/country/ZA.jpg);}
.PH{background-image: url(http://img.51msyc.com/images/country/PH.jpg);}
/*洋葱标志*/
.CNYC{background-image: url(http://img.51msyc.com/images/country/CNYC.jpg);}