.icon-msg{background-image:url(../nimages/nicon/icon_message.png)!important;}
.icon-mall{background-image:url(../nimages/nicon/icon_mall_white.png)!important;}
.icon-class{background-image:url(../nimages/nicon/icon_classify_white.png)!important;}
.icon-find{background-image:url(../nimages/nicon/icon_find_white.png)!important;}
.icon-buy{background-image:url(../nimages/nicon/icon_buy_white.png)!important;}
.icon-mes{background-image:url(../nimages/nicon/icon_me_white.png)!important;}
.icon-back{background-image:url(http://img.51msyc.com/wx/nimages/icons/icon-back.png)!important;)!important;}
.icon-video{background-image:url(../nimages/nicon/video_play.png)!important;} 
/* .icon-search{background-image:url(http://img.51msyc.com/wx/nimages/icons/icon-search.png)!important;} */
.icon-search{background-image:url(../nimages/icon-search.png)!important;}