@charset "utf-8";

.mssoboxnav{display:block; background:#FFFFFF;}
.mssoboxnav .tabnav{ position: relative;}
.mssoboxnav .tabnav li{width:100%;height:48px;line-height: 48px; border-bottom:2px #FFFFFF solid;}
.mssoboxnav .tabnav li.on span{height:48px;line-height: 48px;display: block;padding: 0 5px; border-bottom:2px #7E56C6 solid;color: #7E56C6;}
.mssoboxnav .tabcon{overflow: hidden;}
.mssoboxnav .tabcon .tabart{display: block;}

.sosnaverbar {overflow: hidden;-webkit-box-align: center;box-align: center;display: -webkit-box!important;display: box!important;background-color: #FFF;}
.sosnaverbar .sosnavbox{-webkit-box-orient: vertical;box-orient: vertical;-webkit-box-pack: center; box-pack: center;position: relative;-webkit-box-flex: 1; box-flex: 1; -webkit-flex: 1;flex: 1;display: -webkit-box!important;display: box!important;white-space: nowrap; overflow:hidden;}
.sosnaverbar .sosnavlist {height:50px;display:inline-block;white-space: nowrap;overflow: hidden;}
.sosnaverbar .sosnavlist li {width:75px;height:100%;line-height:50px;display:inline-block!important;position: relative; color:#fff;text-shadow: 0 1px 1px #333; cursor:pointer;background-size:100% 100% !important; text-align: center;}
.sosnaverbar .sosnavlist li.mu01{ background:url(http://img.51msyc.com/wx/nimages/menu01.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu02{ background:url(http://img.51msyc.com/wx/nimages/menu02.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu03{ background:url(http://img.51msyc.com/wx/nimages/menu03.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu04{ background:url(http://img.51msyc.com/wx/nimages/menu04.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu05{ background:url(http://img.51msyc.com/wx/nimages/menu05.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu06{ background:url(http://img.51msyc.com/wx/nimages/menu06.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.mu07{ background:url(http://img.51msyc.com/wx/nimages/menu07.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.more{ background:url(http://img.51msyc.com/wx/nimages/menumore.png) no-repeat center center;}
.sosnaverbar .sosnavlist li.on{background-color: #FFFFFF;}
.sosnaverbar .sosnavlist li.on:after{content:"";position:absolute;bottom:0;left:50%;margin-left: -7px;z-index: 10; width:0;height:0;border-style:solid;border-color: transparent transparent #FFFFFF transparent;border-width:7px;}

.seawarp{height: 100%;top: 0;left:0;right: 0;bottom: 0;min-width: 320px;max-width: 640px;position: absolute;z-index: 2;}
.seaboxnav{display:block; background:#FFFFFF;position: absolute;top: 0;left:0;right: 0;bottom: 0;}
.seaboxnav .tabnav{ position: relative;}
.seaboxnav .tabnav li{width:100%;height:48px;line-height: 48px; border-bottom:2px #FFFFFF solid;}
.seaboxnav .tabnav li.on span{height:48px;line-height: 48px;display: block;padding: 0 5px; border-bottom:2px #7E56C6 solid;color: #7E56C6;}
.seaboxnav .tabcon{display: inline-block;}
.seaboxnav .tabcon .tabart{overflow:auto;top: 50px;left:0;right: 0;bottom: 0;position: absolute;z-index: 5;}
.seaboxnav .tabcon .flnav{width:80px;top:0;left:0;bottom: 0;position: absolute;z-index: 10;background-color: #F9F9F9;}
.seaboxnav .tabcon .flnav li{width:80px;height:40px;line-height:40px;float: left;position: relative;}
.seaboxnav .tabcon .flnav li.on{background-color: #7E56C6;color: #FFFFFF;}
.seaboxnav .tabcon .flcon{overflow:auto;top:0;left:80px;right: 0;bottom: 0;position: absolute;}




.sobody{position:inherit;overflow:hidden;overflow-x:hidden;overflow-y:hidden;width:100%;height:100%;min-width:320px;background-color:#f1f1f1;word-wrap:break-word;}
.somainbox{position:absolute;top:0;right:0;left:0;display:-webkit-box!important;display:-moz-box!important;display:box!important;margin:0 auto;width:100%;max-height:100%;min-height:100%;border:0;-webkit-box-orient:vertical;box-orient:vertical;}
.soheader{position:relative;display:-webkit-box;display:-moz-box;display:box;width:100%;height:50px;background-color:#F7F7F7;}
.sonavs{position:relative;display:-webkit-box;display:-moz-box;display:box;width:100%;height:50px;background-color:#fff;}
.sofixe{position:relative;display:-webkit-box;display:-moz-box;display:box;width:100%;}
.socontent{position:relative;background-color:#fff;-webkit-box-flex:1;box-flex:1;}
.somainbox .tabnav li{width:100%;height:48px;border-bottom:2px #FFF solid;line-height:48px;}
.somainbox .tabnav li.on span{display:block;padding:0 5px;height:48px;border-bottom:2px #7E56C6 solid;color:#7E56C6;line-height:48px;}
.somainbox .tabcon{overflow:auto;}
.somainbox .tabcon .tabart{overflow:hidden;}
.somainbox .tabcon .sosidenav{position:absolute;top:0;bottom:0;left:0;z-index:10;width:100px;background-color:#F9F9F9;overflow: auto}
.somainbox .tabcon .sosidenav li{float:left;width:100%;height:40px;line-height:40px;}
.somainbox .tabcon .sosidenav li.on{background-color:#7E56C6;color:#FFF;}
.somainbox .tabsidenav:after{position:absolute;top:0;left:100px;height:100%;border-right:1px solid #D9D9D9;content:" ";-webkit-transform:scaleX(.5);transform:scaleX(.5);-webkit-transform-origin:0 0;transform-origin:0 0;-ms-transform:scaleX(.5);-ms-transform-origin:0 0;}
.somainbox .tabcon .sosidecon{position:absolute;top:0;right:0;bottom:0;left:100px;z-index:10;overflow:auto;}



.soslanlist{position: absolute;top: 0;left:0;right:0;bottom: 0;}
.soslanlist h3{height: 40px;line-height: 40px;position: relative;padding: 0 10px;}
.soslanlist span{height: 50px;line-height: 40px;position: relative;padding: 10px  10px 0 10px;}
.soslanlist h3 em{width: 20px;height: 20px;display: block;margin-top: 10px;position: relative;}
.soslanlist h3 span{width: 20px;height: 20px;display: block;margin-top: 10px;position: relative;}
.soslanlist h3 span:after{width:6px;height: 6px;content:"";position:absolute;top:50%;right:0; margin-top: -4px; border-right: 1px #7E56C6  solid;border-bottom: 1px #7E56C6  solid; display: inline-block;-webkit-transform:rotate(45deg); transform:rotate(-45deg); vertical-align: middle;}
.soslanlist h3 em:after{width:6px;height: 6px;content:"";position:absolute;top:50%;right:0; margin-top: -4px; border-right: 1px #7E56C6  solid;border-bottom: 1px #7E56C6  solid; display: inline-block;-webkit-transform:rotate(45deg); transform:rotate(45deg); vertical-align: middle;}
.soslanlist h3.current em:after{-webkit-transform:rotate(-135deg); transform:rotate(-135deg);margin-top: -4px;}
.soslanlist .soslancon{padding: 10px 18px;display:none;position: relative;background:#FBFBFB;}
.soslanlist .soslancon li{width: 50%;line-height: 35px;float: left;color: #666666;}

.catecentpinp,.countrieslist {overflow: auto;display: block;}
.catecentpinp dt{width: 100%;height:35px;line-height:35px;background: #F6F6F6;text-transform:uppercase;position: relative;}
.catecentpinp dd{height:40px;line-height:40px;position: relative;margin-left: 15px;}
.catecentpinp dd .ctit{ padding-left:20px;display: block;overflow: hidden;text-overflow: ellipsis;color: #666666;}
.countrieslist ul{ overflow: hidden; padding:0px;}
.countrieslist li{width:50%;float:left;margin:5px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; text-align:center;padding-top:28%;position: relative;}
.countrieslist li span{height:100%;top:0; left:5px;right:5px; background-repeat:no-repeat; -webkit-background-size:100% 100%; background-size:100% 100%; z-index:2;}
.countrieslist li .ptxt{height: 100%;position: absolute;top: 0;left:5px;right:5px;bottom:0;z-index: 10;background-color:rgba(0,0,0,0.5);color:#ffffff;}


/* 分类新版 */


.totaltitle {
    height: 60px;
    box-sizing: border-box;
    padding-top: 15px;
    background-color: #fff;
}
.goindex{
    height: 50px;
    box-sizing: border-box;
    padding-top: 10px;
}
/* 实心三角形 */

.triangle-top:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #000
}

.triangle-bottom:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid #000
}

.triangle-left:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0px;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #000
}

.triangle-right:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -6px;
    top: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #000
}

/* 1像素边框 */

.box {
    width: 100px;
    height: 100px;
}

.thinner-border:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thinner-border-top:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thinner-border-bottom:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thinner-border-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 200%;
    border-left: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.thinner-border-right:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 200%;
    border-right: 1px solid #D9D9D9;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.arrow-right {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.arrow-right:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
}

.arrow-right:after {
    content: "";
    position: absolute;
    left: 4px;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
}
/* 分类新版 */

